<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gfan.sbbs.ui.main"
    android:screenOrientation="landscape"
    android:versionCode="20140101"
    android:versionName="@string/version_name" >

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="15"/>
    <!-- 下面是申请的权限列表 -->
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <application
        android:name="com.gfan.sbbs.othercomponent.MyApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >

        <!-- main Activity -->
        <activity
            android:name="com.gfan.sbbs.ui.main.Logo"
            android:label="@string/app_name"
            android:theme="@style/Theme.Start" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity component-->
        <activity android:name="com.gfan.sbbs.ui.main.Home" >
        </activity>
        <activity android:name="com.gfan.sbbs.menu.MenuActivity" >
        </activity>
        <activity android:name="NoticeActivity" >
            <intent-filter>
                <action android:name="com.yuchao.ui.NOTICE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.gfan.sbbs.ui.main.LoginActivity" >
        </activity>
        <activity android:name="com.gfan.sbbs.ui.main.ThreadList" >
        </activity>
        <activity android:name="com.gfan.sbbs.ui.main.About" >
        </activity>
        <activity android:name="com.gfan.sbbs.ui.main.SearchResult" >
        </activity>
        <activity android:name="com.gfan.sbbs.ui.main.Sections" >
        </activity>
        <activity android:name="com.gfan.sbbs.ui.main.TopicList" >
        </activity>
        <activity
            android:name="com.gfan.sbbs.ui.main.SinglePostActivity"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity android:name="com.gfan.sbbs.ui.main.FullImageView" >
        </activity>
        <activity android:name="com.gfan.sbbs.ui.main.ImagePagerActivity">
            
        </activity>
        <activity
            android:name="com.gfan.sbbs.ui.main.WritePost"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.gfan.sbbs.ui.main.ViewProfileActivity"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.gfan.sbbs.ui.main.MailBody"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity android:name="com.gfan.sbbs.ui.main.WriteMail" >
        </activity>
        <activity android:name="com.gfan.sbbs.ui.main.Preference" >
        </activity>
        <!-- umeng related -->
        <activity
            android:name="com.umeng.fb.ui.SendFeedback"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.umeng.fb.ui.FeedbackConversations" />
        <activity
            android:name="com.umeng.fb.ui.FeedbackConversation"
            android:configChanges="keyboard" />
        <activity 
            android:name=".FileUploadActivity"
            ></activity>

        <!-- service component -->
        <service android:name="com.gfan.sbbs.service.SBBSService" />
        <service android:name="com.gfan.sbbs.file.service.UpLoadService"></service>
        <service
            android:name="com.umeng.common.net.DownloadingService"
            android:exported="true"
            android:process=":DownloadingService" >
        </service>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="4f6d745752701534d900003a" />
    </application>

</manifest>